

#onesec {

    background-color: #f0ece3; 
    
    color:#596e79;   
    font-family: 'Mukta Vaani', sans-serif;
    position: relative;
    height: 100%;
    margin: 0;

}

#name {
    
    text-align: left;
    padding-top: 60%;
    border-bottom: 2px;
    border-bottom-color: #c7b198;
    border-bottom-style: groove;
    padding-bottom: 5px;
    position: relative;
}

.aboutme    {
    
    text-align: center;
    width: auto;
    margin-right: 77%;
    
}

.menu {
    
  
  background-color: #333333;
  
  
  
  color:white;
  text-align: center;
  width:auto;
  margin-left: 82%;
    
  font-family:  'Mukta Vaani', sans-serif;
 


}

li {

    display: inline;
    padding: 10px;
    

}

ul {
    
    
    margin: 0;
    padding: 5px;
    list-style-type: none;
    
    
}

#twosec {

    background-color:#dfd3c3; 
    
    color:#596e79;   
    font-family: 'Mukta Vaani', sans-serif;
    position: relative;
    height: 100%;
    margin: 0;
    

}

#Projects {
    
    top: 5%;
    text-align: left;
    position: absolute;
    margin-left: 5%;
    border-bottom: 2px;
    border-bottom-style: groove;
    border-bottom-color: #c7b198;
    padding-bottom: 5px;


}

.projD {
    
   
    
    
    text-align: center;
    border-top: 2px;
    border-top-style: groove;
    border-top-color: #c7b198;
    padding-top: 10px;
    

}

.glide {
  position: relative;
  animation: glide 2s ease-in-out; /* Add this line for animation */
  animation-fill-mode: forwards; /* Add this line for animation */
  /*animation: glide 2s linear;
  animation-fill-mode: forwards;*/
}

@keyframes glide {
  0% { right: 0; }
  100% { right: -100vw; }
  
  /*0% {
    
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }*/
}





a {
    color: white;

}

#Contact {
    background-color: #596e79;
    position: sticky;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
    color:white;
    

}

.fa-instagram {
  
    color: white;
    
    
    
  }

  .fa {
    
    font-size: 25px;
    margin-top: 5%;
    margin-bottom: 5%;
    
    

    
  }

  .fa-google {

    color: white;
    
    

  }

  .fa-linkedin {
    color: white;
  
}

  #copyR {
    
    margin-top: 7%;
    font-size: 10px;

  }

  

  

  @media (max-width: 767px) {
 
    /* ... */
 
    .top-content .carousel-control-prev, 
    .top-content .carousel-control-next { display: none; }
    .top-content .carousel-indicators li { margin-left: 10px; margin-right: 10px; }
 
    /* ... */
 
}




