

#onesec {

    background-color: #f0ece3; 
    
    color:rgb(155, 144, 144);   
    font-family: Consolas;
    position: relative;
    height:600px;
    margin:0;

}

#name {
    
    top: 40%;
    position:absolute;
    margin-left: 5%;
}

.aboutme    {
    top:55%;
    position:absolute;
    margin-left: 5%;
    text-align: left;
    right:40%;

}
.menu {
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  position:absolute;
  left:74.5%;
  color:white;
  

}
li {
    float:right;
    padding:10px;

}

#twosec {

    background-color:#dfd3c3; 
    
    color:#596e79;   
    font-family: Consolas;
    position: relative;
    height:900px;
    margin:0;
    

}

#Projects {
    
    top: 5%;
    text-align: left;
    position:absolute;
    margin-left:5%;


}

.projD {
    
   
    
    
    text-align: center;
    

}

#Resume {
    background-color: #c7b198;
    font-family: Consolas;
    
    height:100px;
    
    
}

.res {
    text-align: center;
    
    
}

a {
    color: white;

}

#Contact {
    background-color: #596e79;
    
    height: 80px;
    text-align: center;

}

.fa-instagram {
  
    color: white;
    text-align: center;
    
    
  }

  .fa {
    
    font-size: 30px;
    
    text-align: center;
    

    
  }

  .fa-google {
   text-align: center;
    color: white;
    
    

  }

  

  @media (max-width: 767px) {
 
    /* ... */
 
    .top-content .carousel-control-prev, 
    .top-content .carousel-control-next { display: none; }
    .top-content .carousel-indicators li { margin-left: 10px; margin-right: 10px; }
 
    /* ... */
 
}




