

#onesec {

    background-color: #f0ece3; 
    
    color:#596e79;   
    font-family: Consolas;
    position: relative;
    height: 100%;
    margin: 0;

}

#name {
    
    text-align: left;
    padding-top: 60%;
}

.aboutme    {
    
    text-align: left;
    width: 80%;
    
}

.menu {
    
  
  background-color: #333333;
  
  
  
  color:white;
  text-align: right;
  
  font-family: Consolas;
  width: 25%;
  margin-left: 75%;


}

li {

    display: inline;
    padding: 5px;
    

}

ul {
    
    
    margin: 0;
    padding: 5px;
    list-style-type: none;
    
    
}

#twosec {

    background-color:#dfd3c3; 
    
    color:#596e79;   
    font-family: Consolas;
    position: relative;
    height: 100%;
    margin: 0;
    

}

#Projects {
    
    top: 5%;
    text-align: left;
    position: absolute;
    margin-left: 5%;


}

.projD {
    
   
    
    
    text-align: center;
    

}





a {
    color: white;

}

#Contact {
    background-color: #596e79;
    position: sticky;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
    color:white;

}

.fa-instagram {
  
    color: white;
    
    
    
  }

  .fa {
    
    font-size: 25px;
    margin-top: 5%;
    margin-bottom: 5%;
    
    

    
  }

  .fa-google {

    color: white;
    
    

  }

  .fa-linkedin {
    color: white;
  
}

  #copyR {
    
    margin-top: 7%;
    font-size: 10px;

  }

  

  

  @media (max-width: 767px) {
 
    /* ... */
 
    .top-content .carousel-control-prev, 
    .top-content .carousel-control-next { display: none; }
    .top-content .carousel-indicators li { margin-left: 10px; margin-right: 10px; }
 
    /* ... */
 
}




